@font-face {
    font-family: 'Abhaya Libre';
    src: url('AbhayaLibre-Bold.eot');
    src: local('Abhaya Libre Bold'), local('AbhayaLibre-Bold'),
        url('../fonts/AbhayaLibre-Bold.eot') format('embedded-opentype'),
        url('../fonts/AbhayaLibre-Bold.woff2') format('woff2'),
        url('../fonts/AbhayaLibre-Bold.woff') format('woff'),
        url('../fonts/AbhayaLibre-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Larsseit';
    src: url('../fonts/Larsseit.eot');
    src: local('Larsseit'),
        url('../fonts/Larsseit.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Larsseit.woff2') format('woff2'),
        url('../fonts/Larsseit.woff') format('woff'),
        url('../fonts/Larsseit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Larsseit';
    src: url('../fonts/Larsseit-Thin.eot');
    src: local('Larsseit Thin'), local('Larsseit-Thin'),
        url('../fonts/Larsseit-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Larsseit-Thin.woff2') format('woff2'),
        url('../fonts/Larsseit-Thin.woff') format('woff'),
        url('../fonts/Larsseit-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
} */


